<img src="https://cdn.freelogovectors.net/wp-content/uploads/2020/06/australian_open_logo.png" style="float: left; margin: 25px; height: 55px">

# Predicting the 2021 Australian Open

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
from datetime import datetime
import seaborn as sns

%matplotlib inline

source: http://www.tennis-data.co.uk/ausopen.phpv
source: https://github.com/JeffSackmann/tennis_atp

In [2]:
atp20 = pd.read_csv('./data/atp_matches_2020.csv')
atp19 = pd.read_csv('./data/atp_matches_2019.csv')
atp18 = pd.read_csv('./data/atp_matches_2018.csv')
atp17 = pd.read_csv('./data/atp_matches_2017.csv')
atp16 = pd.read_csv('./data/atp_matches_2016.csv')
atp15 = pd.read_csv('./data/atp_matches_2015.csv')
atp14 = pd.read_csv('./data/atp_matches_2014.csv')
atp13 = pd.read_csv('./data/atp_matches_2013.csv')
atp12 = pd.read_csv('./data/atp_matches_2012.csv')
atp11 = pd.read_csv('./data/atp_matches_2011.csv')
atp10 = pd.read_csv('./data/atp_matches_2010.csv')

In [3]:
final_metrics = pd.read_csv('./data/final_metrics.csv')

In [4]:
atp20.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2020-8888,Atp Cup,Hard,24,A,20200106,300,104925,NaN,NaN,...,51.0,39.0,6.0,10.0,6.0,8.0,2.0,9055.0,1.0,9985.0
1,2020-8888,Atp Cup,Hard,24,A,20200106,299,105138,NaN,NaN,...,35.0,21.0,6.0,9.0,5.0,10.0,10.0,2335.0,34.0,1251.0
2,2020-8888,Atp Cup,Hard,24,A,20200106,298,104925,NaN,NaN,...,57.0,35.0,25.0,14.0,6.0,11.0,2.0,9055.0,5.0,5705.0
3,2020-8888,Atp Cup,Hard,24,A,20200106,297,105583,NaN,NaN,...,54.0,39.0,14.0,12.0,0.0,1.0,34.0,1251.0,17.0,1840.0
4,2020-8888,Atp Cup,Hard,24,A,20200106,296,104745,NaN,NaN,...,55.0,37.0,10.0,14.0,1.0,5.0,1.0,9985.0,18.0,1775.0

In [ ]:
atp20.tourney_name.value_counts()

In [ ]:
ao = atp20.tourney_name == 'Australian Open'
ausopen20 = atp20[ao]

In [ ]:
ausopen20.head()

In [ ]:
ausopen20.loc[:,'tourney_date'].apply(str)

ausopen20.loc[:,'tourney_date'] = pd.to_datetime(ausopen20['tourney_date'], format='%Y%m%d')

In [ ]:
ausopen20['year'] = pd.DatetimeIndex(ausopen20['tourney_date']).year
ausopen20.head()

In [ ]:
ausopen20.drop(['winner_seed', 'loser_seed','winner_ht','loser_ht', 'surface','tourney_name','draw_size', 'winner_entry','loser_entry', 'winner_ioc', 'loser_ioc', 'winner_hand','loser_hand','tourney_level','tourney_date', 'w_bpFaced','l_bpFaced', 'best_of', 'loser_rank_points', 'winner_rank_points'], axis=1, inplace=True)

In [ ]:
winner_cols = [col for col in ausopen20.columns if col.startswith('w')]
loser_cols = [col for col in ausopen20.columns if col.startswith('l')]
other_cols = ['tourney_id','match_num','score','round','minutes']

In [ ]:
winner_cols

In [ ]:
loser_cols

In [ ]:
other_cols

In [ ]:
ausopen20.winner_name.value_counts()

In [ ]:
half_ausopen = ausopen20.sample(frac=0.5, random_state=1)

In [ ]:
half_ausopen.shape

In [ ]:
other_half = ausopen20.drop(half_ausopen.index)

In [ ]:
other_half.shape

In [ ]:
ausopen20.shape

In [ ]:
##half_ausopen - winner player 2 
winner_fhalf = [col for col in half_ausopen.columns if col.startswith('w')]
loser_fhalf = [col for col in half_ausopen.columns if col.startswith('l')]
other_fhalf = ['tourney_id','match_num','score','round','minutes', 'year']

In [ ]:
fhalf = half_ausopen[winner_fhalf + loser_fhalf + other_fhalf]

In [ ]:
new_column_names_w = [col.replace('w_','winner_') for col in winner_fhalf]
new_column_names_l = [col.replace('l_','loser_') for col in loser_fhalf]

In [ ]:
final_col_names_w = [col.replace('winner_','p2') for col in new_column_names_w]
final_col_names_l = [col.replace('loser_','p1') for col in new_column_names_l]
final_col_names_l

In [ ]:
fhalf.columns = final_col_names_w + final_col_names_l + other_fhalf

In [ ]:
fhalf.head()

In [ ]:
fhalf['p1won'] = 0
fhalf['p2won'] = 1

In [ ]:
fhalf.head()

In [ ]:
##other_half - winner player 1 
winner_shalf = [col for col in other_half.columns if col.startswith('w')]
loser_shalf = [col for col in other_half.columns if col.startswith('l')]
other_shalf = ['tourney_id','match_num','score','round','minutes', 'year']

In [ ]:
shalf = other_half[winner_shalf + loser_shalf + other_shalf]

In [ ]:
new_column_names_sw = [col.replace('w_','winner_') for col in winner_shalf]
new_column_names_sl = [col.replace('l_','loser_') for col in loser_shalf]

In [ ]:
final_col_names_sw = [col.replace('winner_','p1') for col in new_column_names_w]
final_col_names_sl = [col.replace('loser_','p2') for col in new_column_names_l]
final_col_names_sl

In [ ]:
shalf.columns =  final_col_names_sl + final_col_names_sw + other_shalf

In [ ]:
##re-do this 

shalf['p1won'] = 1
shalf['p2won'] = 0

In [ ]:
shalf.head()

In [ ]:
final = fhalf.append(shalf)
final.head()

In [ ]:
final.shape

In [ ]:
final.sort_index(0, ascending=True)

In [ ]:
final.columns

In [ ]:
final = final[['tourney_id', 'match_num','score', 'round', 'minutes', 'p1name', 'p1age', 'p1ace', 'p1id','p1name', 'p1age', 'p1ace', 'p1df', 'p1svpt', 'p11stIn', 'p11stWon','p12ndWon', 'p1SvGms', 'p1bpSaved', 'p1rank','p2id', 'p2name', 'p2age', 'p2ace', 'p2df', 'p2svpt', 'p21stIn','p21stWon', 'p22ndWon', 'p2SvGms', 'p2bpSaved', 'p2rank', 'p1won', 'p2won']]
final.head()

In [ ]:
final.p1won.value_counts()

In [ ]:
final.p2won.value_counts()

In [ ]:
final.columns

In [ ]:
final['round'].value_counts()

In [ ]:
final.drop(['p1SvGms','p1bpSaved','p2SvGms', 'p2bpSaved','p22ndWon','p12ndWon' ], axis=1, inplace=True)

In [ ]:
final.head()

In [ ]:
p2_cols = [col for col in final.columns if col.startswith('p2name')]
p2_cols

In [ ]:
p2 = final[p2_cols]
p2.head()

In [ ]:
p2.p2name.value_counts()

In [ ]:
final_metrics.head()

In [ ]:
p2_final = pd.merge(final_metrics, p2, how='left', left_on='player', right_on='p2name')
p2_final.head(10)

In [ ]:
p2_final = p2_final.add_prefix('p2_curr_')

In [ ]:
p2_final.head()

In [ ]:
p2_final.drop(['p2_curr_Unnamed: 0', 'p2_curr_player', 'p2_curr_player_id'], axis=1, inplace=True)
p2_final.head()

In [ ]:
p2_final = p2_final.rename(columns={'p2_curr_p2name': 'p2name'})

In [ ]:
p2_final[p2_final.p2name.isnull()]

In [ ]:
final = final.merge(p2_final, how='right', on='p2name')
final.head()

In [ ]:
final.columns

In [ ]:
p1_cols = [col for col in final.columns if col.startswith('p1name')]
p1_cols

In [ ]:
p1 = final[p1_cols]
p1.head()

In [ ]:
p1_final = pd.merge(final_metrics, p1, how='left', left_on='player', right_on='p1name')
p1_final.head(10)

In [ ]:
p1_final = p1_final.add_prefix('p1_curr_')

In [ ]:
p1_final.drop(['p1_curr_Unnamed: 0', 'p1_curr_player', 'p1_curr_player_id'], axis=1, inplace=True)
p1_final.head()

In [ ]:
p1_final = p1_final.rename(columns={'p1_curr_p1name': 'p1name'})

In [ ]:
final = final.merge(p1_final, how='right', on='p1name')
final.head()